@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300&family=Orbitron&family=Urbanist:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Urbanist', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Orbitron', sans-serif;
   */
  font-weight: 500;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 350px;
  margin-bottom: 30px;
  max-width: 100%;
  font-size: 18px;
}
.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgb(146, 144, 144);
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}
.progress { 
  position: absolute;
  top: 50%;
  left: 0;
  background-color:blue;
  height: 4px;
  width: 10%;
  z-index: -1;
  transform: translateY(-50%);
  transition:width .4s ease;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid rgb(146, 144, 144);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  border: 3px solid rgb(55, 140, 219);
}
.btn {
  border: none;
  background-color: blue;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  border-radius:8px;
  text-align: center;
}
.btn:active {
  transform: scale(0.98);
}
.btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}


